@using TrailLocker.Models
@model TrailLocker.Models.Entities.Trip


@{
    ViewBag.Title = "AddTrip";

}

<h2>Add A New Trip</h2>

@using (Html.BeginForm("AddTrip", "Trip", FormMethod.Post))
{
   /* <div>
        Trip Name: @Html.EditorFor(model => model.TripName)
    </div>*/
    
    <div>
        Destination: @Html.EditorFor(model => model.DestinationID)
    </div>
    
    <div>
        Start Date: @Html.EditorFor(model => model.StartDate)
    </div>
    
    <div>
        End Date: @Html.EditorFor(model => model.EndDate)
    </div>
    <div><input type="submit" value="AddTrip" /></div>
}