@using TrailLocker.Models
@model IEnumerable<TrailLocker.Models.Entities.Trip>


@{
    ViewBag.Title = "Trips";
}

<h2>Trips</h2>

@using (Html.BeginForm("AddTrip", "Trip", FormMethod.Get)){
    <div><input type="submit" value="AddTrip" /></div>
}

<ul>
@foreach (TrailLocker.Models.Entities.Trip trip in Model)
{
    <li>@String.Format("{0} {1} {2}", trip.DestinationID ,trip.StartDate, trip.EndDate) @Html.ActionLink("Edit", "EditTrip", trip) @Html.ActionLink("Delete", "DeleteTrip", trip)</li>
}
</ul>
