<!DOCTYPE html>
<html>
<head>
<script src="jquery-1.10.2.min.js"></script>
<link href="favicon.ico" rel="icon" type="image/x-icon" />
<meta charset=UTF-8>
<link rel="stylesheet" type="text/css" href="stylein.css"/>
<script src="events.js"></script>
<title>Trail Locker</title>
</head>
	<body id="index">
		<div id="center_logo">
			<img id="Logo_Up_left" src="taillocker_logo_3000px_white.png" alt="Logo_Up_left">
		</div>
		<br>
		
		<div id="form">
			PLAN YOUR NEXT EXPEDITION		<br><br><br><br><br>	
				<a href="locker.html"><img id="facebook_login_button"  src="facebook_login_button.png" alt="facebook_login_button">
				</a>
				
				<!--<form action="" method="get">
					<input name="Username" type="text" value="username">
					<input name="Password" type="text" value="password">
				</form>-->
		</div>
	</body>
</html>




