body#index{
	height:100%;
	background-color:black;
	background-image:url('../Images/Background.png');
	background-position:  center;
	background-repeat:no-repeat;
}
body#home{
	height:100%;
	background-color:black;
	background-image:url('../Images/Background.png');
	background-position:  center;
	background-repeat:no-repeat;
}
body#Locker{
	background-color:white;
}

html{
	min-height:100%;position:relative
}

@font-face{
	font-family: Lato-Lig;
	src: url('../Content/Lato-Lig.ttf')
		,url('../Content/Lato-Lig.eot'); 
}
@font-face{
	font-family: Lato-Reg;
	src: url('../Content/Lato-Reg.ttf')
		,url('../Content/Lato-Reg.eot'); 
}

*.center {
	text-align:center; 
	margin-left: auto;
	margin-right:auto;
}

#locker_catagorys{
	z-index:-1;
	font-size:80%;
	font-family:Lato-Lig;
	color:white; 
	list-style-type:none;
	left:0px;
	}


@media (min-width: 500px) {
	#Logo_Up_left{
		position:relative;
		Width:150px;
		
	}
	#Logo_in_nav{
		position:relative;
		Width:90%;
		padding:5%;
	}
	
	#Locker_Logo_in_nav{
		position:relative;
		Height:90%;
		padding:3px;
		
	}
	#nav_bar{
		position:absolute;
		width:8%;
   		top:0;
   		bottom:0;
   		left:0;
    	right:0;
   		overflow:hidden;
   		z-index:-1;
		background: -moz-linear-gradient(top, rgba(58,58,58,0.6) 0%, rgba(58,58,58,0.6) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(58,58,58,0.6)), color-stop(100%,rgba(58,58,58,0.6))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(58,58,58,0.6) 0%,rgba(58,58,58,0.6) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(58,58,58,0.6) 0%,rgba(58,58,58,0.6) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, rgba(58,58,58,0.6) 0%,rgba(58,58,58,0.6) 100%); /* IE10+ */
		background: linear-gradient(to bottom, rgba(58,58,58,0.6) 0%,rgba(58,58,58,0.6) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#993a3a3a', endColorstr='#993a3a3a',GradientType=0 ); /* IE6-9 */
	}
	#nav_bar_footer{
		display:none;
	}
		
	#form{
		font-size:60px;
		color:white;
		font-family:Lato-Lig;
		position:relative;
		display:none;
		text-align:center;
		margin-left: auto;
		margin-right:auto;
		margin-top:25px;
		
		
	}
		
		#nav_bar_locker_top{
		position:absolute;
		background-color:black;
		height:10%;
   		top:0;
   		left:0;
    	right:0;
   		overflow:hidden;
   		z-index:-1
		}
		
		#nav_bar_locker_bottom{
		display:none;
	}
	
		#nav_bar_locker_left{
		position:absolute;
		width:100px;
   		top:20%;
   		bottom:0;
   		left:0;
    	right:0;
   		overflow:hidden;
   		font-family:Lato-Lig;
		color:white; 
   		background-color:black;
   		font-size:80%;
		}
		
}



@media (max-width: 499px){
	#center_logo{
		text-align:center;
	}
	#Logo_Up_left{
		margin-left:auto;
		margin-right:auto;
		Width:150px;
			
	}
	#Logo_in_nav{
		position:relative;
		
		height:90%;
		
		}
		
	#form{
		font-size:20px;
		font-family:Lato-Lig;
		position:relative;
		display:none;
		text-align:center;
		margin-left: auto;
		margin-right:auto;
		width:250px;
		height:200px;
		background: -moz-linear-gradient(top, rgba(255,255,255,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(255,255,255,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(255,255,255,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, rgba(255,255,255,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
		background: linear-gradient(to bottom, rgba(255,255,255,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6ffffff', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
	}
	
	#nav_bar_footer{
		position:absolute;
		height:100px;
   		width:1000px;
   		bottom:0;
   		left:0;
   		overflow:hidden;
   		z-index:-1;
		background: -moz-linear-gradient(top, rgba(58,58,58,0.6) 0%, rgba(58,58,58,0.6) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(58,58,58,0.6)), color-stop(100%,rgba(58,58,58,0.6))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(58,58,58,0.6) 0%,rgba(58,58,58,0.6) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(58,58,58,0.6) 0%,rgba(58,58,58,0.6) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, rgba(58,58,58,0.6) 0%,rgba(58,58,58,0.6) 100%); /* IE10+ */
		background: linear-gradient(to bottom, rgba(58,58,58,0.6) 0%,rgba(58,58,58,0.6) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#993a3a3a', endColorstr='#993a3a3a',GradientType=0 ); /* IE6-9 */
	}
	#nav_bar{
		display:none;
	}
	
	#nav_bar_locker_top{
		display:none;
	}
	#nav_bar_locker_bottom{
		position:absolute;
		height:100px;
   		width:1000px;
   		bottom:0;
   		left:0;
   		overflow:hidden;
   		z-index:-1;
		background: -moz-linear-gradient(top, rgba(58,58,58,0.6) 0%, rgba(58,58,58,0.6) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(58,58,58,0.6)), color-stop(100%,rgba(58,58,58,0.6))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(58,58,58,0.6) 0%,rgba(58,58,58,0.6) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(58,58,58,0.6) 0%,rgba(58,58,58,0.6) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, rgba(58,58,58,0.6) 0%,rgba(58,58,58,0.6) 100%); /* IE10+ */
		background: linear-gradient(to bottom, rgba(58,58,58,0.6) 0%,rgba(58,58,58,0.6) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#993a3a3a', endColorstr='#993a3a3a',GradientType=0 ); /* IE6-9 */
	}
}

#facebook_login_button{
		background: url(../Images/Background.png);
		height: 100px;
		width:200px;
		padding:10px;
		}



#heading{ 
text-align:center;
display:none;
font-size:72px;
font-family:Lato-Lig;
text-decoration:none;
color:white; 
padding:10px;
}
#box_box{
position:absolute;
top:20%;
left:15%;

}

.stuff_boxes{
display: inline-block;
width:200px;
height:200px;
border:2px;
border-style:solid;
border-color:#000000;
z-index:2;



}
.stuff_boxes:hover{

background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.5) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0.5))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.5) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.5) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.5) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.5) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#80000000',GradientType=0 ); /* IE6-9 */

}

#nav_bar_locker{
color:white;
position:absolute;
font-family:Lato-Lig;
z-index:-1;
left:20%;
text-align:center;

height:100%;
border:2px;

}

