<!DOCTYPE html>
<html>
<head>
<script src="jquery-1.10.2.min.js"></script>
<link href="favicon.ico" rel="icon" type="image/x-icon" />
<meta charset=UTF-8>
<link rel="stylesheet" type="text/css" href="stylein.css"/>
<script src="events.js"></script>
<title>Trail Locker Home</title>
</head>
	<body id="home">
		<div id="nav_bar">
			<img id="Logo_in_nav" src="taillocker_logo_3000px_white.png" alt="Logo_Up_left">
		</div>
		
		</div>
		<footer id="nav_bar_footer">
			<img id="Logo_in_nav" src="taillocker_logo_3000px_white.png" alt="Logo_Up_left">
		</footer>
	</body>
</html>




